streamlit
pandas
numpy
matplotlib
seaborn
openpyxl
gspread
oauth2client
gspread
google-auth
boto3
folium
streamlit-folium
streamlit-js-eval
geopy
XlsxWriter
requests
torch
torchvision
ultralytics
efficientnet-pytorch
segmentation-models-pytorch
timm
albumentations
pillow
opencv-python-headless
