streamlit
pandas
numpy
matplotlib
seaborn
openpyxl
gspread
oauth2client
gspread
google-auth
boto3
folium
streamlit-folium
streamlit-js-eval
geopy
XlsxWriter
# ---- Añadidos para visión computacional ----
torch
torchvision
ultralytics
segmentation-models-pytorch
timm
albumentations
pillow
opencv-python-headless
